<!DOCTYPE html>
<html lang="en" ng-app="MakeChocolateAngularApp">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/makechocolate-ng-controller.js"></script>
    <script src="../static/js/makechocolate-ng-controller.js"></script>
</head>
<body ng-controller="SampleController">

{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}

<h2 class="center-text">Welcome to {{factoryName}}!</h2>

<br/><br/>
<div>
    How many big bars of chocolate do you have?
    <input type="text" placeholder="Number of bigs" ng-model="inputNumBigs"/>
    <br/>
    How many small bars of chocolate do you have?
    <input type="text" placeholder="Number of smalls" ng-model="inputNumSmalls"/>
    <br/>
    How much chocolate are you trying to make?
    <input type="text" placeholder="Goal" ng-model="inputGoal"/>
</div>
<br/>

<input type="button" ng-click="getNumSmallsAndBigs(inputNumBigs, inputNumSmalls, inputGoal)" value="Make Chocolate!!"/>
<br/><br/>

<div>
    <div style="clear: both">
        <h3>Your Inventory:</h3>
        <div ng-repeat="chocIndex in makeArray(inputNumBigs)">
            <div class="choc-big-bar">{{chocIndex + 1}}</div>
        </div>

        <div ng-repeat="chocIndex in makeArray(inputNumSmalls)">
            <div class="choc-small-bar">{{chocIndex + 1}}</div>
        </div>
    </div>
    <!--<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->

    <div>
            <span ng-if="mySolution.hasSolution">
                <h3>You used {{mySolution.bigs}} bigs and {{mySolution.smalls}} smalls: </h3>
                <div ng-repeat="chocIndex in makeArray(mySolution.bigs)">
                    <div class="choc-big-bar">{{chocIndex + 1}}</div>
                </div>

                <div ng-repeat="chocIndex in makeArray(mySolution.smalls)">
                    <div class="choc-small-bar">{{chocIndex + 1}}</div>
                </div>
            </span>
    </div>

    <span ng-if="showNoSolution">
            Cannot make the goal amount from your inventory!!!
        </span>
</div>
</body>
</html>